<ul class="nav-list">
  <li class="nav-list-item {% if page.url == '/Lore.html' %} active{% endif %}">
    <a href="/Lore" class="nav-list-link">Lore</a>
  </li>
  <li
    class="nav-list-item {% if page.url == '/How-To-Play.html' %} active{% endif %}"
  >
    <a href="/How-To-Play" class="nav-list-link">How To Play</a>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Stats.html' %} active{% endif %}"
  >
    <a href="/Stats" class="nav-list-link">Stats</a>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Skills.html' or page.url == '/Perform.html' or page.url == '/Husbandry.html' or page.url == '/Converse.html' or page.url == '/Ritual.html' or page.url == '/Channel.html' or page.url == '/Science.html' or page.url == '/Perception.html' or page.url == '/Medicine.html' or page.url == '/Knowledge.html' or page.url == '/Crafting.html' or page.url == '/Subterfuge.html' or page.url == '/Marksmanship.html' or page.url == '/Acrobatics.html' or page.url == '/Fitness.html' or page.url == '/Melee.html' %} active{% endif %}"
  >
    <button
      class="nav-list-expander btn-reset"
      aria-label="toggle items in category"
      aria-pressed="false"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </button>
    <a href="/Skills" class="nav-list-link">Skills</a>
    <ul class="nav-list">
      <li
        class="nav-list-item {% if page.url == '/Fitness.html' %} active{% endif %}"
      >
        <a href="/Fitness" class="nav-list-link">Fitness</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Melee.html' %} active{% endif %}"
      >
        <a href="/Melee" class="nav-list-link">Melee</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Acrobatics.html' %} active{% endif %}"
      >
        <a href="/Acrobatics" class="nav-list-link">Acrobatics</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Marksmanship.html' %} active{% endif %}"
      >
        <a href="/Marksmanship" class="nav-list-link">Marksmanship</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Subterfuge.html' %} active{% endif %}"
      >
        <a href="/Subterfuge" class="nav-list-link">Subterfuge</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Crafting.html' %} active{% endif %}"
      >
        <a href="/Crafting" class="nav-list-link">Crafting</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Knowledge.html' %} active{% endif %}"
      >
        <a href="/Knowledge" class="nav-list-link">Knowledge</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Medicine.html' %} active{% endif %}"
      >
        <a href="/Medicine" class="nav-list-link">Medicine</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Perception.html' %} active{% endif %}"
      >
        <a href="/Perception" class="nav-list-link">Perception</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Science.html' %} active{% endif %}"
      >
        <a href="/Science" class="nav-list-link">Science</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Channel.html' %} active{% endif %}"
      >
        <a href="/Channel" class="nav-list-link">Channel</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Ritual.html' %} active{% endif %}"
      >
        <a href="/Ritual" class="nav-list-link">Ritual</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Converse.html' %} active{% endif %}"
      >
        <a href="/Converse" class="nav-list-link">Converse</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Husbandry.html' %} active{% endif %}"
      >
        <a href="/Husbandry" class="nav-list-link">Husbandry</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Perform.html' %} active{% endif %}"
      >
        <a href="/Perform" class="nav-list-link">Perform</a>
      </li>
    </ul>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Character-Creation.html' %} active{% endif %}"
  >
    <a href="/Character-Creation" class="nav-list-link">Character Creation</a>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Telling-The-Story.html' or page.url == '/Combat.html' or page.url == '/Injury.html' %} active{% endif %}"
  >
    <button
      class="nav-list-expander btn-reset"
      aria-label="toggle items in category"
      aria-pressed="false"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </button>
    <a href="/Telling-The-Story" class="nav-list-link">Telling The Story</a>
    <ul class="nav-list">
      <li
        class="nav-list-item {% if page.url == '/Combat.html' %} active{% endif %}"
      >
        <a href="/Combat" class="nav-list-link">Combat</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Injury.html' %} active{% endif %}"
      >
        <a href="/Injury" class="nav-list-link">Injury</a>
      </li>
    </ul>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Equipment.html' or page.url == '/Weapons.html' or page.url == '/Storage.html' or page.url == '/Resources.html' or page.url == '/Mounts.html' or page.url == '/Gear.html' or page.url == '/Comestibles.html' or page.url == '/Assets.html' or page.url == '/Armour.html' %} active{% endif %}"
  >
    <button
      class="nav-list-expander btn-reset"
      aria-label="toggle items in category"
      aria-pressed="false"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </button>
    <a href="/Equipment" class="nav-list-link">Equipment</a>
    <ul class="nav-list">
      <li
        class="nav-list-item {% if page.url == '/Armour.html' %} active{% endif %}"
      >
        <a href="/Armour" class="nav-list-link">Armour</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Assets.html' %} active{% endif %}"
      >
        <a href="/Assets" class="nav-list-link">Assets</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Comestibles.html' %} active{% endif %}"
      >
        <a href="/Comestibles" class="nav-list-link">Comestibles</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Gear.html' %} active{% endif %}"
      >
        <a href="/Gear" class="nav-list-link">Gear</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Mounts.html' %} active{% endif %}"
      >
        <a href="/Mounts" class="nav-list-link">Mounts</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Resources.html' %} active{% endif %}"
      >
        <a href="/Resources" class="nav-list-link">Resources</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Storage.html' %} active{% endif %}"
      >
        <a href="/Storage" class="nav-list-link">Storage</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Weapons.html' %} active{% endif %}"
      >
        <a href="/Weapons" class="nav-list-link">Weapons</a>
      </li>
    </ul>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Services.html' %} active{% endif %}"
  >
    <a href="/Services" class="nav-list-link">Services</a>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Character-Development.html' or page.url == '/Combat-Training.html' or page.url == '/Magic-Training.html' or page.url == '/Trades-Training.html' %} active{% endif %}"
  >
    <button
      class="nav-list-expander btn-reset"
      aria-label="toggle items in category"
      aria-pressed="false"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </button>
    <a href="/Character-Development" class="nav-list-link"
      >Character Development</a
    >
    <ul class="nav-list">
      <li
        class="nav-list-item {% if page.url == '/Combat-Training.html' %} active{% endif %}"
      >
        <a href="/Combat-Training" class="nav-list-link">Combat Training</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Magic-Training.html' %} active{% endif %}"
      >
        <a href="/Magic-Training" class="nav-list-link">Magic Training</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Trades-Training.html' %} active{% endif %}"
      >
        <a href="/Trades-Training" class="nav-list-link">Trades Training</a>
      </li>
    </ul>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Tables.html' or page.url == '/Armour-Traits.html' or page.url == '/Example-Armour.html' or page.url == '/Example-Comestibles.html' or page.url == '/Example-Gear.html' or page.url == '/Example-Infrastructure.html' or page.url == '/Example-Storage.html' or page.url == '/Example-Transhumanist-Effects.html' or page.url == '/Example-Weapons.html' or page.url == '/Weapon-Traits.html' %} active{% endif %}"
  >
    <button
      class="nav-list-expander btn-reset"
      aria-label="toggle items in category"
      aria-pressed="false"
    >
      <svg viewBox="0 0 24 24" aria-hidden="true">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </button>
    <a href="/Tables" class="nav-list-link">Tables</a>
    <ul class="nav-list">
        <li
        class="nav-list-item {% if page.url == '/Armour-Traits.html' %} active{% endif %}"
      >
        <a href="/Armour-Traits" class="nav-list-link">Armour Traits</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Example-Armour.html' %} active{% endif %}"
      >
        <a href="/Example-Armour" class="nav-list-link">Example Armour</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Example-Comestibles.html' %} active{% endif %}"
      >
        <a href="/Example-Comestibles" class="nav-list-link"
          >Example Comestibles</a
        >
      </li>
      <li
        class="nav-list-item {% if page.url == '/Example-Gear.html' %} active{% endif %}"
      >
        <a href="/Example-Gear" class="nav-list-link">Example Gear</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Example-Infrastructure.html' %} active{% endif %}"
      >
        <a href="/Example-Infrastructure" class="nav-list-link"
          >Example Infrastructure</a
        >
      </li>
      <li
        class="nav-list-item {% if page.url == '/Example-Storage.html' %} active{% endif %}"
      >
        <a href="/Example-Storage" class="nav-list-link">Example Storage</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Example-Transhumanist-Effects.html' %} active{% endif %}"
      >
        <a href="/Example-Transhumanist-Effects" class="nav-list-link"
          >Example Transhumanist Effects</a
        >
      </li>
      <li
        class="nav-list-item {% if page.url == '/Example-Weapons.html' %} active{% endif %}"
      >
        <a href="/Example-Weapons" class="nav-list-link">Example Weapons</a>
      </li>
      <li
        class="nav-list-item {% if page.url == '/Weapon-Traits.html' %} active{% endif %}"
      >
        <a href="/Weapon-Traits" class="nav-list-link">Weapon Traits</a>
      </li>
    </ul>
  </li>
  <li
    class="nav-list-item {% if page.url == '/Running-The-Game.html' %} active{% endif %}"
  >
    <a href="/Running-The-Game" class="nav-list-link">Running The Game</a>
  </li>
  <li
    class="nav-list-item {% if page.url == 'Worlds/Worlds.html' %} active{% endif %}"
  >
    <a href="/Worlds/Worlds" class="nav-list-link">Worlds</a>
  </li>
</ul>
